﻿@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: #286090;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.cust-delete-link {
    display: inline-block !important;
    float: right;
    color: red !important;
    padding: 0px !important;
    font-size: small !important;
}

svg {
    height: 50vw;
}

rect {
    fill: #0026ff;
    transition: .6s fill;
}

    rect:hover {
        fill: #0094ff;
    }

body {
    background: #23527c; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #23527c, #8DC26F);
    background: -moz-linear-gradient(right, #23527c, #8DC26F);
    background: -o-linear-gradient(right, #23527c, #8DC26F);
    background: linear-gradient(to left, #23527c, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-label {
    font-family: "Roboto", sans-serif;
}

.form-link a {
    padding: 0;
    color: #286090;
    font-size: 14px;
}
