﻿<div id="mySidenav" class="sidenav">
    <div style="padding: 10px 10px 10px 10px">
        <div class="form-group">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNavBar();">&times;</a>
        </div>
        <div class="form-group col-md-12 col-sm-12">
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <label class="form-label">Numer sali:</label>
            <input type="text" class="form-control" value="{{ currentClass.name }}" ng-disabled="true" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <label class="form-label form-link"><a ng-href="{{currentClass.timeTableUrl}}">Plan lekcji</a></label>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <label class="form-label">Pojemność sali:</label>
            <input type="text" class="form-control" ng-model="currentClass.capacity" ng-disabled="!isInEdit" aria-describedby="emailHelp">
        </div>
        <div id="classPropertiesList">
            <div class="form-group col-md-12 col-sm-12" ng-repeat="x in currentClassProperties">
                <label class="form-label">{{ x.propertyName }}:</label><a href="#" class="cust-delete-link" ng-show="isInEdit" ng-click="removeClassProperty($index);">Usuń</a>
                <input type="text" class="form-control" ng-model="x.propertyValue" ng-disabled="!isInEdit">
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12" ng-show="canEdit &&  !isInEdit ">
            <input type="button" class="form-control btn-info" value="Edytuj" ng-click="isInEdit = true;" />
        </div>
        <div class="form-group" ng-show="isInEdit">
            <div class="form-group col-md-12 col-sm-12">
                <input type="button" class="form-control btn-info" value="Dodaj właściwość" onclick="openAddPropertyNav()" />
            </div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    <input type="button" class="form-control btn-success" value="Zapisz" ng-click="saveClassProperties();" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <input type="button" class="form-control btn-info" value="Anuluj" ng-click="cancelEditClassProperties();" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sideNavAddProperty" class="sidenav">
    <div style="padding: 10px 10px 10px 10px">
        <div class="form-group col-md-12 col-sm-12">
            <label class="form-label" for="newPropertyName">Nazwa właściwości:</label>
            <input type="text" class="form-control" id="newPropertyName" ng-model="newProperty.name">
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <label class="form-label" for="newPropertyValue">Wartość:</label>
            <input type="text" class="form-control" id="newPropertyValue" ng-model="newProperty.value">
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6">
                <input type="button" class="form-control btn-success" value="Zapisz" ng-click="addProperty()" />
            </div>
            <div class="col-md-6 col-sm-6">
                <input type="button" class="form-control btn-info" value="Anuluj" onclick="closeAddPropertyNav()" />
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div class="visibility-toggle-div" style="display:none">
        <div id="panorama" style="width: 60vw;height: 60vh; margin:auto; top:0;left:0;right:0;bottom:0;"></div>
    </div>
    <div class="visibility-toggle-div" style="position:absolute;">
        <div id="foo" style="position:fixed;top:0;right:0;z-index:100;"><a ng-click="logout()">Wyloguj</a></div>
        <svg id="svg2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width:100%;height:100%;position:fixed;top:0;left:0;bottom:0;right:0;" version="1.1">
            <g id="layer1" fill-rule="evenodd" transform="translate(-98.071 -54.005)" stroke="#000" stroke-width=".99279px" fill="#ccc">
                <g>
                    <a ng-click="changeCurrentClass(54)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="60" x="100" />
                        <text x="120" y="180" font-size="30" fill="red">EC5/CK-4</text>
                    </a>
                </g>
                <g>
                    <a ng-click="changeCurrentClass(334)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="60" x="300" />
                        <text x="360" y="180" font-size="30" fill="red">334</text>
                    </a>
                </g>
                <g>
                    <a ng-click="changeCurrentClass(426)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="60" x="500" />
                        <text x="560" y="180" font-size="30" fill="red">426</text>
                    </a>
                </g>
                <g>
                    <a ng-click="changeCurrentClass(543)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="60" x="700" />
                        <text x="760" y="180" font-size="30" fill="red">543</text>
                    </a>
                </g>
                <g>
                    <a ng-click="changeCurrentClass(827)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="300" x="100" />
                        <text x="160" y="420" font-size="30" fill="red">827</text>
                    </a>
                </g>
                <g>
                    <a ng-click="changeCurrentClass(910)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="300" x="300" />
                        <text x="360" y="420" font-size="30" fill="red">910</text>
                    </a>
                </g>
                <g>
                    <a ng-click="changeCurrentClass(914)">
                        <rect id="rect3340-4-4-3" height="220" width="180" y="300" x="500" />
                        <text x="560" y="420" font-size="30" fill="red">914</text>
                    </a>
                </g>
            </g>
        </svg>
    </div>
</div>