﻿<!-- Ładowanie styli -->
<link rel="stylesheet" type="text/css" href="Styles/login-form.css">

<!-- Ładowanie plików JS -->
<script src="Scripts/login-form.js"></script>
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" ng-model="loginName" placeholder="nazwa użytkownika" />
            <input type="password" ng-model="loginPassword" placeholder="hasło" />
            <button ng-click="login();">zaloguj</button>
            <p class="message"><a class="toggle-forms-link" href="#">Powrót</a></p>
        </form>
        <form class="home-form">
            <p class="message"><a id="visitAsGuestLink" ng-click="goAsGuest();" href="#">Wejdź jako gość</a></p>
            <p class="message"><a class="toggle-forms-link" href="#">Wejdź jako administrator</a></p>
        </form>
    </div>
</div>

